<%-include('partials/header.ejs');%>
  <link rel="stylesheet" href="stylesheet/index.css">
    <div class="row row-extend">
      <div class="col-4 mx-auto extend-col">

        <div class="workout">Give Your Workout <br>A New Style!</div>
        <p>Success isn't always about greatness.It's about consistency.Consistent<br>hard work gain sucess.Greatness
          will come.</p>

        <a href="" class="btn">Explore Now</a>
      </div>
      <div class="col-5 extend-col">
        <img class="img-res" src="https://cdn.pixabay.com/photo/2016/11/22/22/18/morning-1850893_960_720.jpg">
      </div>
    </div>


    <h3 class="feature-title">Available Soon</h3>
   
    <div class="row justify-content-center">
      
      <div class="col-5 featured-col-top ">
        <img src="https://images.unsplash.com/photo-1503342296413-28a6ec3768b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" height="75%">
        <h5 class="productname">Graphix T-Shirts</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$40.00</p>

      </div>
      
      <div class="col-5 featured-col">
        <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=420&q=80" height="75%">
        <h5 class="productname">Hoodie And Trouser</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p class="productname">$80.00</p>

      </div>
      <div class="col-5 featured-col">
        <img src="https://images.unsplash.com/photo-1559405173-5810abfc9403?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" height="75%">
        <h5 class="productname">Half Pant</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p class="productname">$100.00</p>

      </div>


    </div> 
  
  <div class="small-container">
    <h3 class="feature-title">Featured Products</h3>
    <div class="row">
      <div class="col-4 featured-col">
        <img src="https://cdn.pixabay.com/photo/2015/01/12/10/44/woman-597173_960_720.jpg" height="70%">
        <h5 class="productname">Dotted Tops</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$30.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://cdn.pixabay.com/photo/2016/11/25/16/27/woman-1858727_960_720.jpg" height="70%">
        <h5 class="productname">White T-Shirts</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt">
            <i class="far fa-star"></i>

          </i>
        </div>
        <p class="productname">$10.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://cdn.pixabay.com/photo/2014/11/03/17/50/man-515518_960_720.jpg" height="70%">
        <h5 class="productname">Hoodie</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        <p class="productname">$80.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://cdn.pixabay.com/photo/2017/03/27/14/26/woman-2179062_960_720.jpg" height="70%">
        <h5 class="productname">Boot </h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p class="productname">$100.00</p>

      </div>


    </div>
  </div>



  <div class="small-container">
    <h3 class="feature-title">Latest Products</h3>
    <div class="row">
      <div class="col-4 featured-col">
        <img
          src="https://images.unsplash.com/photo-1554116154-e733de92fe4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
          height="73%">
        <h5 class="productname">Smart Watch</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$100.00</p>

      </div>
      <div class="col-4 featured-col">
        <img
          src="https://images.unsplash.com/photo-1603808033192-082d6919d3e1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=415&q=80"
          height="73%">
        <h5 class="productname">Shoes</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>


        </div>
        <p class="productname">$50.00</p>

      </div>
      <div class="col-4 featured-col">
        <img
          src="https://images.unsplash.com/photo-1517070208541-6ddc4d3efbcb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"
          height="73%">
        <h5 class="productname">Black Printed T-Shirts</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname">$30.00</p>

      </div>
      <div class="col-4 featured-col">
        <img
          src="https://images.unsplash.com/photo-1572689535562-3c54a15292d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          height="73%">
        <h5 class="productname">Jeans Pant</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname">$50.00</p>

      </div>
      <div class="col-4 featured-col">
        <img
          src="https://images.unsplash.com/photo-1613294064031-8935937266f4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80"
          height="73%">
        <h5 class="productname">I-Phone 11</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$999.00</p>

      </div>
      <div class="col-4 featured-col">
        <img
          src="https://images.unsplash.com/photo-1560774358-d727658f457c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
          height="73%">
        <h5 class="productname">Cap</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname">$5.00</p>

      </div>
      <div class="col-4 featured-col">
        <img
          src="https://images.unsplash.com/photo-1577174881658-0f30ed549adc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=420&q=80"
          height="73%">
        <h5 class="productname">Headphones</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$20.00</p>

      </div>
      <div class="col-4 featured-col">
        <img
          src="https://images.unsplash.com/photo-1516195851888-6f1a981a862e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=405&q=80"
          height="73%">
        <h5 class="productname">Hoodie</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname">$45.00</p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <img class="iphone"
        src="https://www.att.com/idpassets/global/devices/phones/apple/apple-iphone-13-pro-max/Carousel/sierrablue/6196D-1.png">
    </div>
    <div class="col-6 col-detail">
      <h5 class="excl"> Exclusively Available on RedHunt</h5>
      <h1 class="i-phone13title">I Phone 13 Pro Max</h1>
      <div class="iphonedet">
        <p>Apple's newest iPhones with updated cameras, new colors,<br> smaller notches, and faster A15 chip. Pre-order
          now, launch<br> on 24 September.</p>
        <br>
        <h6> Features</h6>
        <uL>
          <li>5.4 and 6.1-inch sizes</li>
          <li>Similar to iPhone 12 lineup</li>
          <li>Smaller notch</li>
          <li>New colors</li>
          <li>Camera improvements</li>
          <li>A15 Chip</li>
          <li>5G</li>
          <li>Pre-order September 17</li>

        </uL>
      </div>
      <a href="" class="btns">Buy Now</a>
    </div>
  </div>

  <!-- footer -->
  <%-include('partials/footer.ejs');%>