<%-include('partials/header.ejs');%>
<link rel="stylesheet" href="stylesheet/index.css">
<link rel="stylesheet" href="stylesheet/product-details.css">


<div class="small container single-product">
<div class="row">
    <div class="col-5">
        <img src="https://discountbazaar.online/wp-content/uploads/2020/08/IMG_0560-scaled.jpg" width="100%" height="90%" id="ProductImg">

        <div class="small-img-row">
            <div class="small-img-col">
            <img src="https://m.media-amazon.com/images/I/61dsEU7dDhL._AC._SR360,460.jpg" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="https://rukminim1.flixcart.com/image/332/398/kfmv9u80/short/3/f/s/s-bv2773-010-nike-original-imafwfggryngbpq9.jpeg?q=50" width="100%" class="small-image">
        </div>
        <div class="small-img-col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXxN_F74MNRkKLoJc-CVfn9Xr9nlTM01umWe4l4rKK8nk-S38e5Sif-snOiXH62Iru56Q&usqp=CAU" width="100%" class="small-image">
        </div>
        <div class="small-img-col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO5TMexfHKNLc71mPwTJFBb4Nn6F5HAlTOvzz924JChIYp5fhtFY1uy2QIHyDEU5sNm9A&usqp=CAU" width="100%" class="small-image">
        </div>
    </div>
    </div>
    <div class="col-6">
        <p class="half">Home / Half Pants</p>
        <h1>Yellow Half Pant By Nike</h1>
        <p class="half">$20.00</p>
        <select>
            <option>Select Size</option>
            <option>XXL</option>
            <option>XL</option>
            <option>Large</option>
            <option>Medium</option>
            <option>Small</option>
        </select>
        <input type="number" value="1"> <a href="/cart" class="btn">Add to Cart</a>

        <h3>Product Details</h3>
        <p class="det">Give your summer wardrobe a style upgrade with the Nike Men's Half Pant. Team it with a pair of shorts for morning workout or a denims for evening out with the guys.</p>
        <a href="/ordernow" class="btn">Order Now</a>
      </div>

</div>
</div>
<div class="small-container related-img">
    <h3 class="feature-title">Related Images</h3>
    <div class="row">
      <div class="col-4 featured-col">
        <img src="https://m.media-amazon.com/images/I/61xzuXWWozS._SL1200_.jpg" height="73%">
        <h5 class="productname">Smart Watch</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$100.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="http://cdn.shopify.com/s/files/1/0107/9820/2938/products/gmmobile1_grande.png?v=16297543320" height="73%">
        <h5 class="productname">Shoes</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>


        </div>
        <p class="productname">$50.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_GCb9tnrScRzuWbPKavQ6V9FtNy8tAwaZZA&usqp=CAU" height="73%">
        <h5 class="productname">Headphones</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$20.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F82%2Ff9%2F82f9a0d1871d98ec4b991112a4008094c8c3c595.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5Bmen_hoodiessweatshirts_hoodies%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B3%5D&call=url[file:/product/main]" height="73%">
        <h5 class="productname">Hoodie</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname">$45.00</p>

      </div>
    </div>

</div>
<script src="javascript/productdetails.js">
  </script>

<%-include('partials/footer.ejs');%>

