<%-include('partials/header.ejs');%>
<link rel="stylesheet" href="stylesheet/index.css">


<div class="small-container">
    <h3 class="feature-title">Dashain Offer</h3>
    <div class="row">
      <div class="col-4 featured-col">
        <img src="https://cdn.pixabay.com/photo/2016/12/06/09/31/blank-1886008_960_720.png" height="73%">
        <h5 class="productname">Red T-Shirts</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname"><del>$30.00</del> <br>$20.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://cdn.pixabay.com/photo/2015/11/20/03/53/package-1052370_960_720.jpg" height="73%">
        <h5 class="productname">Bags</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>


        </div>
        <p class="productname"><del>$50.00</del><br>$30.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://static.fibre2fashion.com/MemberResources/LeadResources/1/2019/5/Buyer/19163898/Images/19163898_0_ladies-designer-dresses.jpg" height="73%">
        <h5 class="productname">Kurtha</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname"><del>$50.00</del><br>$30.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/13903168/2021/4/17/638f7420-e644-462e-a484-d6b87e146ee51618644035247-Anouk-Sea-Green-Pure-Georgette-Printed-Dark-Floral--Daily-We-1.jpg" height="73%">
        <h5 class="productname">Saree</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname"><del>$70.00</del><br>$50.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://i.pinimg.com/474x/fd/8c/f8/fd8cf86d0a6887adc2c136807ee220da.jpg" height="73%">
        <h5 class="productname">Shirt</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname"><del>$40.00</del><br>$10.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://asia.canon/media/image/2020/07/07/1ca31541100945f89f12def69b85aeda_R5_FrontSlantLeft_RF24-105mmF4LISUSM.png" height="73%">
        <h5 class="productname">Camera</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname"><del>$100.00</del><br>$90.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://images.philips.com/is/image/PhilipsConsumer/TASH402LF_00-IMS-en_IQ?$jpglarge$&wid=960" height="73%">
        <h5 class="productname">Headphones</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname"><del>$30.00</del><br>$20.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="http://cdn.shopify.com/s/files/1/0035/1309/0115/products/Recycled-Cotton-Hoodie-Black-1.jpg?v=1627551171" height="73%">
        <h5 class="productname">Hoodie</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname"><del>$40.00</del><br>$20.00</p>

      </div>
    </div>
  </div>


  <div class="small-container">
    <h3 class="feature-title">Tihar Offer</h3>
    <div class="row">
      <div class="col-4 featured-col">
        <img src="https://m.media-amazon.com/images/I/61xzuXWWozS._SL1200_.jpg" height="73%">
        <h5 class="productname">Smart Watch</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$100.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="http://cdn.shopify.com/s/files/1/0107/9820/2938/products/gmmobile1_grande.png?v=16297543320" height="73%">
        <h5 class="productname">Shoes</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>


        </div>
        <p class="productname">$50.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_GCb9tnrScRzuWbPKavQ6V9FtNy8tAwaZZA&usqp=CAU" height="73%">
        <h5 class="productname">Headphones</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

        </div>
        <p class="productname">$20.00</p>

      </div>
      <div class="col-4 featured-col">
        <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F82%2Ff9%2F82f9a0d1871d98ec4b991112a4008094c8c3c595.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5Bmen_hoodiessweatshirts_hoodies%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B3%5D&call=url[file:/product/main]" height="73%">
        <h5 class="productname">Hoodie</h5>
        <div class="rating productname">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

        </div>
        <p class="productname">$45.00</p>

      </div>
    </div>
  </div>



<%-include('partials/footer.ejs');%>
