<%-include('partials/header.ejs');%>


  <link rel="stylesheet" href="stylesheet/index.css">
  <link rel="stylesheet" href="stylesheet/product.css">

  <div class="container-fluid">




    <div class="small-container">
      <div class="row row-product">
        <h3 class="feature-title1">All Products</h3>
        <select class="selection" name="forma" onchange="location = this.value;">
            <option value="/sortsale">Short By Sale</option>

          <option value="/sortrating">Short By Rating</option>

          <option value="/product">Default Shorting</option>
          <option value="/sortprice">Short By Price</option>

          <option value="/product">Short By Popularity</option>
        </select>
      </div>



      <div class="row">

        <div class="col-4 featured-col">
            <img
              src="https://images.unsplash.com/photo-1603808033192-082d6919d3e1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=415&q=80"
              height="73%">
            <h5 class="productname">Shoes</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
  
  
            </div>
            <p class="productname">$50.00</p>
  
          </div>
          <div class="col-4 featured-col">
            <img
              src="https://n4.sdlcdn.com/imgs/j/s/r/NBOX-Bluetooth-Earphone-Wireless-Headphones-SDL084208766-1-ac1b1.jpeg"
              height="73%">
            <h5 class="productname">EarPhone</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
  
  
            </div>
            <p class="productname">$10.00</p>
  
          </div>
          <div class="col-4 featured-col">
            <img src="https://cf.shopee.ph/file/459281e33789da0d28334bebe830191b" height="73%">
            <h5 class="productname">Black Pant</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
  
            </div>
            <p class="productname">$50.00</p>
  
          </div>
        <div class="col-4 featured-col">
          <img
            src="https://www.optus.com.au/content/dam/optus/images/shop/mobile/phones/apple/iphone-12/carousel/iphone-12-purple-front-back.jpg/renditions/version-1619402668569/original.jpeg"
            height="73%">
          <h5 class="productname">I-Phone 11</h5>
          <div class="rating productname">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>

          </div>
          <p class="productname">$999.00</p>

        </div>
        <div class="col-4 featured-col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOeLD5XdEZqm_GmJvibj5WaCtdd9_yaSPxMA&usqp=CAU"
              height="73%">
            <h5 class="productname">Cap</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
  
            </div>
            <p class="productname">$5.00</p>
  
          </div>
        <div class="col-4 featured-col">
          <img src="https://discountbazaar.online/wp-content/uploads/2020/08/IMG_0560-scaled.jpg" height="73%">
          <h5 class="productname"><a class="product-detail" href="/product-details">Half Pant</a></h5>
          <div class="rating productname">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>

          </div>
          <p class="productname">$20.00</p>

        </div>
        <div class="col-4 featured-col">
          <img
            src="https://rukminim1.flixcart.com/image/332/398/kpu3frk0/shoe/a/c/d/10-2223-multi-tr-multi-original-imag3z99sjmfzfhy.jpeg?q=50"
            height="73%">
          <h5 class="productname">Shoes</h5>
          <div class="rating productname">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>

          </div>
          <p class="productname">$20.00</p>

        </div>
       
          <div class="col-4 featured-col">
            <img
              src="https://cdn.shopify.com/s/files/1/0849/8112/products/girls-dresses-winter-dresses-1-8-years-old-girls-dresses-online-usa-uk-ca-au-pink-3.jpg"
              height="73%">
            <h5 class="productname">Baby Dress</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
  
            </div>
            <p class="productname">$45.00</p>
  
          </div>
          <div class="col-4 featured-col">
            <img
              src="https://assets.ajio.com/medias/sys_master/root/20210403/4Zeb/606863a67cdb8c1f1474dd0b/-1117Wx1400H-461085141-blue-MODEL.jpg"
              height="73%">
            <h5 class="productname">T-Shirts</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
  
            </div>
            <p class="productname">$30.00</p>
  
          </div>
         
  
         
        <div class="col-4 featured-col">
            <img src="https://thegirlfrompanama.com/wp-content/uploads/2018/06/river-islan-pam-2-copy.jpg" height="73%">
            <h5 class="productname">Tops</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
  
  
            </div>
            <p class="productname">$20.00</p>
  
          </div>
         

        <div class="col-4 featured-col">
            <img
              src="https://ae01.alicdn.com/kf/HTB1G0w9BL1TBuNjy0Fjq6yjyXXar/Baby-Girls-Dress-Summer-2018-Fashion-Children-Clothing-Kids-Flower-Dress-Chiffon-Princess-Costume-Vestidos-8.jpg_Q90.jpg_.webp"
              height="73%">
            <h5 class="productname">One-Piece</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
  
  
            </div>
            <p class="productname">$20.00</p>
  
          </div>
          <div class="col-4 featured-col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa_kWXulxqcacDvJuJ6M7QgeeTvC_wvaX3gQ&usqp=CAU"
              height="73%">
            <h5 class="productname">Shoes</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
  
  
            </div>
            <p class="productname">$50.00</p>
  
          </div>
        
          <div class="col-4 featured-col">
            <img src="https://m.media-amazon.com/images/I/51-cw1DQaGL._AC_UL1000_.jpg" height="73%">
            <h5 class="productname">Jacket</h5>
            <div class="rating productname">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
  
  
            </div>
            <p class="productname">$30.00</p>
  
          </div>
        
        
        
        <div class="col-4 featured-col">
          <img src="https://www.stedman.eu/out/pictures-2021/zoom/ST5250_model.jpg" height="73%">
          <h5 class="productname">Leather Jacket</h5>
          <div class="rating productname">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>


          </div>
          <p class="productname">$90.00</p>

        </div>
       
        <div class="col-4 featured-col">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmeoG_iCb20btf9wnYUM8M9vtYRuvf5A8iPw&usqp=CAU"
            height="73%">
          <h5 class="productname">Jeans Jacket</h5>
          <div class="rating productname">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>


          </div>
          <p class="productname">$50.00</p>

        </div>
        

        <div class="col-4 featured-col">
          <img src="https://5.imimg.com/data5/TA/BK/BU/SELLER-715589/img-20190413-wa0060-500x500.jpg" height="73%">
          <h5 class="productname">Pants</h5>
          <div class="rating productname">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>


          </div>
          <p class="productname">$50.00</p>

        </div>

       


      
       
      


       
      
      </div>
      <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594</span>

      </div>
    </div>
  </div>
  <%-include('partials/footer.ejs');%>